<div>
    <ul class="nav nav-pills flex-column mb-auto">
        <ul class="nav flex-column">
            <li class="h4 nav-item">
                <a href="/" class="navbar-brand">TimeBudget</a>
            </li>
        </ul>
        <hr>
        <li class="nav-item">
            <a class="nav-link shadow m-2" href="/">План</a>
        </li>
        <li class="nav-item">
            <a class="nav-link shadow m-2" href="/categories">Категории</a>
        </li>
        <li class="nav-item">
            <a class="nav-link shadow m-2" href="/profile">Личный кабинет</a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="nav-link shadow m-2 text-danger" href="/logout">Выход</a>
        </li>
    </ul>
</div>