{% extends "base.html" %}

{% block content %}
<div class="modal fade" id="week_copy_modal" tabindex="-1"
     aria-labelledby="week_copy_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="week_copy_modal_label">Копирование плана</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/week/copy" class="form " method="post">
                    <select name="week_id" class="form-select mb-2" required>
                        {% for week in current_user.weeks %}
                        <option value="{{week.id}}">Неделя #{{ week.id }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="form-control btn btn-outline-dark w-100">Скопировать план недели
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><a href="/report">Получить отчет .html</a></strong>
</div>
<button class="btn btn-outline-dark" data-bs-toggle="modal"
        data-bs-target="#week_copy_modal">
    Копирование плана
</button>
{% endblock %}